{% extends "base.html" %}
{% block title %}Attendance | NQU Smart Campus{% endblock %}
{% block heading %}Attendance{% endblock %}
{% block content %}
<section class="panel table-wrap">
<table>
<thead><tr><th>Code</th><th>Course</th><th>Attended</th><th>Total</th><th>Rate</th></tr></thead>
<tbody>
{% for a in attendance %}
<tr><td>{{ a.code }}</td><td>{{ a.name }}</td><td>{{ a.attended }}</td><td>{{ a.total }}</td><td>{{ (a.attended / a.total * 100)|round(1) }}%</td></tr>
{% endfor %}
</tbody>
</table>
</section>
{% endblock %}
